In [1]:
# pandas pivot_table透视表功能演示
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import openpyxl

In [2]:
dates = pd.date_range('20171123',periods=6)

In [3]:
dates

DatetimeIndex(['2017-11-23', '2017-11-24', '2017-11-25', '2017-11-26',
               '2017-11-27', '2017-11-28'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [6]:
df

                   A         B         C         D
2017-11-23  0.513051 -0.484281  3.307617  0.303618
2017-11-24  2.069675 -0.746855 -1.006730 -0.359668
2017-11-25  1.429422 -0.365639  0.710465  1.227922
2017-11-26  0.401438  1.513716  0.078211 -0.595934
2017-11-27  0.639748 -0.469056  0.257004  0.793658
2017-11-28  0.017564 -0.069553 -0.705550 -0.673989

In [8]:
df.tail(3)

                   A         B         C         D
2017-11-26  0.401438  1.513716  0.078211 -0.595934
2017-11-27  0.639748 -0.469056  0.257004  0.793658
2017-11-28  0.017564 -0.069553 -0.705550 -0.673989

In [11]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.845150 -0.103611  0.440169  0.115935
std    0.758300  0.821923  1.540524  0.785873
min    0.017564 -0.746855 -1.006730 -0.673989
25%    0.429341 -0.480474 -0.509610 -0.536867
50%    0.576400 -0.417347  0.167607 -0.028025
75%    1.232003 -0.143574  0.597099  0.671148
max    2.069675  1.513716  3.307617  1.227922

In [12]:
df2 = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                      "large"],
                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})

In [13]:
df2

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  2
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [16]:
table1 = pd.pivot_table(df2,values='D',index=['A','B'],columns=['C'],aggfunc=np.sum)

In [19]:
table1.to_excel('./tables01.xlsx',engine='openpyxl')

In [4]:
# 查询业绩数据 2017/11/29
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://uapi:G#!2017.data@127.0.0.1:3306/DbReport?charset=utf8')
df3 = pd.read_sql('select * from F_ErpClassStat_Financial where reck_date="2017.11.01"',engine)

In [6]:
df3.head()

,Id,City_Id,Shop_Id,Shop_Name,Dept_Code,Dept_Name,Doctor_Id,Doctor_Name,Item_Code,Item_Name,...,Second_Name,Third_Code,Third_Name,Total_Mount,Pay_Money,Reck_Date,Update_Time,Flags,Fee_Flag,Fee_Zhiliao
0,16614467,761,410,None,06,中医科,0888,徐可嘉,010100100001,麸炒白术,...,单味中药饮片,001,普通饮片,1005.0,140.70,2017.11.01,2017-11-30 13:56:15,0,0,0.0
1,16614468,761,410,None,06,中医科,0888,徐可嘉,010100100002,炙黄芪,...,单味中药饮片,001,普通饮片,750.0,106.88,2017.11.01,2017-11-30 13:56:16,0,0,0.0
2,16614469,761,410,None,06,中医科,0888,徐可嘉,010100100003,茯苓,...,单味中药饮片,001,普通饮片,1725.0,371.55,2017.11.01,2017-11-30 13:56:16,0,0,0.0
3,16614470,761,410,None,06,中医科,0888,徐可嘉,010100100004,党参,...,单味中药饮片,001,普通饮片,825.0,275.55,2017.11.01,2017-11-30 13:56:16,0,0,0.0
4,16614471,761,410,None,06,中医科,0888,徐可嘉,010100100005,甘草,...,单味中药饮片,001,普通饮片,108.0,8.43,2017.11.01,2017-11-30 13:56:16,0,0,0.0

In [8]:
# 使用pivot_table  透视表,实现项目 行转列
#变量“columns（列）”是可选的，它提供一种额外的方法来分割你所关心的实际值。
#然而，聚合函数aggfunc最后是被应用到了变量“values”中你所列举的项目上。
#非数值（NaN）有点令人分心。如果想移除它们，我们可以使用“fill_value”将其设置为0。
#如果将参数margins设置为True，则可以得到分项总计数据。
table2 = pd.pivot_table(df3[['City_Id','Shop_Name','Dept_Name','Doctor_Name','Third_Name','Total_Mount','Pay_Money']],
                           values='Pay_Money',
                           index=['City_Id','Shop_Name','Dept_Name','Doctor_Name'],
                           columns=['Third_Name'],
                           aggfunc=np.sum,
                           #margins=True,
                           fill_value=0)

In [9]:
table2.head()

Third_Name                               B超检查费  一次性耗材  三大常规检查化组套       中成药  \
City_Id Shop_Name Dept_Name Doctor_Name
20      广州东山分院    中医内科      何伟               0    0.0        0.0  782.0292
                            刘子志              0    0.0        0.0  318.7000
                            刘艳虹              0    0.0        0.0    0.0000
                            吴依娜              0    0.0        0.0  154.8540
                            吴淑贤              0    0.0        0.0  254.6340

Third_Name                                丸剂  丸剂制作费  产科化验费  产科检查费    代煎费  \
City_Id Shop_Name Dept_Name Doctor_Name
20      广州东山分院    中医内科      何伟           0.0      0      0      0   24.0
                            刘子志          0.0      0      0      0   68.0
                            刘艳虹          0.0      0      0      0    0.0
                            吴依娜          0.0      0      0      0  132.0
                            吴淑贤          0.0      0      0      0    0.0

Third_Name                                 会诊费  ...    膏方制作费   茶方        西药  \
City_Id Shop_Name Dept_Name Doctor_Name         ...
20      广州东山分院    中医内科      何伟           180.0  ...        0  0.0    15.997
                            刘子志            0.0  ...        0  0.0    53.337
                            刘艳虹          360.0  ...        0  0.0     0.000
                            吴依娜            0.0  ...        0  0.0   571.213
                            吴淑贤           30.0  ...        0  0.0  3559.315

Third_Name                                   贵细  足浴方   酒方   针灸治疗费  雾化液  面膜  \
City_Id Shop_Name Dept_Name Doctor_Name
20      广州东山分院    中医内科      何伟             0.00  0.0  0.0   588.0    0   0
                            刘子志            0.00  0.0  0.0     0.0    0   0
                            刘艳虹            0.00  0.0  0.0  1212.0    0   0
                            吴依娜           25.20  0.0  0.0     0.0    0   0
                            吴淑贤          807.84  0.0  0.0     0.0    0   0

Third_Name                                 颗粒剂
City_Id Shop_Name Dept_Name Doctor_Name
20      广州东山分院    中医内科      何伟            0.00
                            刘子志           0.00
                            刘艳虹           0.00
                            吴依娜          13.16
                            吴淑贤           0.00

[5 rows x 46 columns]

In [71]:
table2.to_excel('text_pandaexcel03.xlsx',engine='openpyxl')

In [72]:
table3 = pd.pivot_table(df3[['City_Id','Shop_Name','Dept_Name','Doctor_Name','Third_Name','Total_Mount','Pay_Money']],
                       values=['Total_Mount','Pay_Money'],
                       index=['City_Id','Shop_Name','Dept_Name','Doctor_Name','Third_Name'],
                       aggfunc=np.sum,
                       margins=True,
                       fill_value=0,
                       dropna = True
                       )

In [73]:
table3.head()

                                                      Pay_Money  Total_Mount
City_Id Shop_Name Dept_Name Doctor_Name Third_Name
20      广州东山分院    中医内科      何伟          中成药            782.0292         23.0
                                        代煎费             24.0000          0.6
                                        会诊费            180.0000          1.0
                                        凑整费             -0.6850          1.0
                                        护士治疗费           96.0000          8.0
                                        推拿治疗费           12.0000          4.0
                                        普通饮片          1042.0588       3684.0
                                        西药              15.9970          1.0
                                        针灸治疗费          588.0000         49.0
                            刘子志         中成药            318.7000         10.0
                                        代煎费             68.0000          7.1
                                        普通饮片          2573.8680      14670.0
                                        西药              53.3370          2.0
                            刘艳虹         会诊费            360.0000          1.0
                                        凑整费             -0.3888          1.0
                                        普通饮片          1072.3888       4607.0
                                        针灸治疗费         1212.0000        101.0
                            吴依娜         中成药            154.8540         40.0
                                        代煎费            132.0000         15.9
                                        普通饮片          6312.9548      29527.0
                                        膏方            1030.0500         42.0
                                        西药             571.2130        208.0
                                        贵细              25.2000         21.0
                                        颗粒剂             13.1600         14.0
                            吴淑贤         中成药            254.6340         11.0
                                        会诊费             30.0000          1.0
                                        凑整费             -0.4340          1.0
                                        推拿治疗费         1350.0000         11.0
                                        普通饮片            67.0450        250.0
                                        西药            3559.3150        163.0
...                                                         ...          ...
760     中山西区分院    中医内科      高昆          西药             102.7890          1.0
                            黄兴芳         会诊费            120.0100          1.0
                                        凑整费             -0.3606          1.0
                                        普通饮片           634.8455       4029.0
                            黄希翘         中成药             22.4100          1.0
                                        会诊费              8.0000          1.0
                                        凑整费             -0.0617          1.0
                                        普通饮片            59.0517        294.0
                  中医科       中山外来方       中成药             28.3500          2.0
                                        会诊费              0.0000          1.0
                                        凑整费             -0.0500          1.0
                            中山西区贵细      会诊费              0.0000          1.0
                                        凑整费              0.0000          1.0
                                        茶方              65.0000          1.0
                                        酒方             402.5000          1.0
                                        面膜              95.0000          1.0
                            王雨          外用药              5.0000          1.0
                                        普通饮片           228.2262       1086.0
                            简易门诊        一次性耗材            1.0000          2.0
                            黄颖思         会诊费              0.0000          1.0
                                        凑整费             -0.0730          1.0
                                        普通饮片           252.9730        840.0
                  妇科        廖琳          一次性耗材            8.5000         11.0
                                        会诊费            700.0000          1.0
                                        凑整费             -0.4880          1.0
                  针灸推拿科     李妹静         会诊费             16.0000          1.0
                                        凑整费              0.0000          1.0
                                        推拿治疗费          800.0000         10.0
                                        针灸治疗费          750.0000         10.0
All                                                 899095.7648    1155018.5

[1285 rows x 2 columns]

In [65]:
#table3.columns
#table3.rename(columns={'City_Id':'区域ID','Shop_Name':'门店名称','Dept_Name':'科室','Doctor_Name':'医生姓名','Third_Name':'基础分类','Pay_Money':'金额','Total_Mount':'数量'},inplace=True)
table3.to_excel('text_pandaexcel04.xlsx',engine='openpyxl')

In [74]:
table3.values

array([[  7.82029200e+02,   2.30000000e+01],
       [  2.40000000e+01,   6.00000000e-01],
       [  1.80000000e+02,   1.00000000e+00],
       ...,
       [  8.00000000e+02,   1.00000000e+01],
       [  7.50000000e+02,   1.00000000e+01],
       [  8.99095765e+05,   1.15501850e+06]])