In [47]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
import openpyxl
engine = create_engine('mysql+pymysql://uapi:Gst#!2017.data@127.0.0.1:3306/DbReport?charset=utf8')
df1 = pd.read_sql('select * from F_ErpZhiliao_Financial_Log limit 50',engine)

In [17]:
#对列进行重新命名
df1.rename(columns={'Reck_Date':'日期','City_Id':'区域ID','Shop_Id':'门店Id','Dept_Code':'科室编码','Dept_Name':'科室名称',
                    'Doctor_Id':'医生工号','Doctor_Name':'医生姓名','Fdeal_id':'订单Id','Pay_Money':'支付金额','Types':'类型',
                    'Public_Fee':'公费金额','Update_time':'时间'
                   },inplace=True)
df1.to_excel('./text_pandaexcel01.xlsx',engine='openpyxl')

In [18]:
df1

,Id,日期,区域ID,门店Id,科室编码,科室名称,医生工号,医生姓名,订单Id,支付金额,类型,公费金额,时间
0,1,2017.11.03,20,264,35,脾胃病科,1013,陈志坚,14176252,210.00,1,168.000000,2017-11-16 17:58:03
1,2,2017.11.08,20,264,35,脾胃病科,1013,陈志坚,14231749,35.25,1,31.729298,2017-11-16 17:58:03
2,3,2017.11.15,20,264,35,脾胃病科,1013,陈志坚,14398072,35.25,1,31.725603,2017-11-16 17:58:03
3,4,2017.11.09,20,264,66,中医内科,1026,陈淑平,14234706,44.80,1,35.844679,2017-11-16 17:58:03
4,5,2017.11.02,20,264,20013,内科,1034,胡大中,14144088,35.25,1,28.204744,2017-11-16 17:58:03
5,6,2017.11.09,20,264,20013,内科,1034,胡大中,14234607,42.30,1,33.044858,2017-11-16 17:58:03
6,7,2017.11.08,20,264,66,中医内科,1042,张林林,14231913,333.00,1,299.745120,2017-11-16 17:58:03
7,8,2017.11.12,20,264,66,中医内科,1042,张林林,14310903,11.00,1,8.707483,2017-11-16 17:58:03
8,9,2017.11.02,20,264,66,中医内科,1045,陈煦光,14140942,140.40,1,140.353216,2017-11-16 17:58:03
9,10,2017.11.02,20,264,66,中医内科,1045,陈煦光,14145280,277.40,1,221.920000,2017-11-16 17:58:03

In [24]:
df2 = pd.read_sql('select distinct id as 门店Id,shop_short_name as 门店名称 from Dim_Shop',engine)

In [25]:
#翻译shop_id，对两张表进行inner join
#外连接方法：pd.merge(df1, df2, how='left', left_on='key', right_on='key')
df3 = pd.merge(df1,df2,how='inner',on='门店Id')

In [42]:
#求总金额
import numpy as np
df3[['区域ID',
     '门店Id',
     '科室编码',
     '科室名称',
     '医生工号',
     '医生姓名',
     '类型',
     '支付金额',
     '公费金额']][(df3['时间']>='2017-11-15 00:00:00')&(df3['时间']<='2017-11-16 23:59:59')].groupby(['区域ID',
                           '门店Id',
                           '科室编码',
                           '科室名称',
                           '医生工号',
                           '医生姓名',
                            '类型']).agg({'支付金额':np.sum,'公费金额':np.sum})

                                     支付金额        公费金额
区域ID 门店Id 科室编码  科室名称 医生工号 医生姓名 类型
20   264  20013 内科   1034 胡大中  1    77.55   61.249602
          35    脾胃病科 1013 陈志坚  1   280.50  231.454901
          66    中医内科 1026 陈淑平  1    44.80   35.844679
                     1042 张林林  1   344.00  308.452603
                     1045 陈煦光  1   417.80  362.273216

In [64]:
#求总金额 按时间筛选
import numpy as np
df4=df3[(df3['时间']>='2017-11-15 00:00:00')&(df3['时间']<='2017-11-16 23:59:59')][['区域ID',
    '门店Id',
     '科室编码',
     '科室名称',
     '医生工号',
     '医生姓名',
     '类型',
     '支付金额',
     '公费金额']].groupby(['区域ID',
                           '门店Id',
                           '科室编码',
                           '科室名称',
                           '医生工号',
                           '医生姓名',
                            '类型']).agg({'支付金额':np.sum,'公费金额':np.sum})

In [65]:
df4

                                     支付金额        公费金额
区域ID 门店Id 科室编码  科室名称 医生工号 医生姓名 类型
20   264  20013 内科   1034 胡大中  1    77.55   61.249602
          35    脾胃病科 1013 陈志坚  1   280.50  231.454901
          66    中医内科 1026 陈淑平  1    44.80   35.844679
                     1042 张林林  1   344.00  308.452603
                     1045 陈煦光  1   417.80  362.273216

In [66]:
df4.to_excel('./text_pandaexcel02.xlsx',engine='openpyxl')