In [39]:
#coding:utf-8
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import pymysql
engine = create_engine('mysql+pymysql://uapi:Gst#!2017.data@120.76.46.116:3306/DbCenter?charset=utf8')
#上海2017.01.01至 2017.11.30医保数据导出  0216:医保;0101:全自费

sql = (
    "SELECT B.Doctor_Id,"
     "B.Doctor_Name,"
     "B.Total_Sum,"
     "B.Acct_Sum,"
     "B.SP_Sum, "
     "MONTH(A.Chrg_Date)  AS months "
     "FROM Dim_CL_Charge A "
     "JOIN Dim_CL_Chrgentry B ON A.Shop_Id=B.Shop_Id AND A.Chrg_No=B.Chrg_No "
     "WHERE A.Chrg_Date>='2017.01.01' "
     "AND A.Chrg_Date<='2017.11.31' "
     "AND A.Shop_Id=412 "
     "AND B.Doctor_Id<>'*' "
     "AND A.Fee_Code IN ('0216','0101') "
)
df = pd.read_sql(sql,engine)

In [60]:
#按月份,医生求和
df2=df.groupby(['Doctor_Id','Doctor_Name','months']).agg({'Total_Sum':np.sum,'Acct_Sum':np.sum,'SP_Sum':np.sum})

In [43]:
# 按月份降序排列
#df2.sort_values(['months'],ascending=True,inplace=True)

In [42]:
df2.head()

                              Total_Sum  Acct_Sum   SP_Sum
Doctor_Id Doctor_Name months
SH00      简易门诊        7         1592.60       0.0  1592.60
                      8         2845.84     884.4  1961.44
                      9          801.90       0.0   801.90
                      10        2372.30       0.0  2372.30
                      11          28.50       0.0    28.50

In [46]:
df2.columns

Index(['Total_Sum', 'Acct_Sum', 'SP_Sum'], dtype='object')

In [64]:
#使用透视表 pivot_table,如果将参数margins设置为True，则可以得到分项总计数据。
table01=pd.pivot_table(df,
               index=['Doctor_Id','Doctor_Name'],
               values=['Total_Sum','Acct_Sum','SP_Sum'],
               columns=['months'],
               aggfunc=np.sum,
               margins=False,
               fill_value=0)

In [65]:
table01.columns

MultiIndex(levels=[['Acct_Sum', 'SP_Sum', 'Total_Sum'], [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]],
           names=[None, 'months'])

In [67]:
table01.head()

                      Acct_Sum                                                \
months                      1     2         3         4         5         6
Doctor_Id Doctor_Name
SH00      简易门诊               0   0.0      0.00      0.00      0.00      0.00
SH000     三伏贴                0   0.0      0.00      0.00      0.00      0.00
SH0000    酸梅汤                0   0.0      0.00      0.00      0.00      0.00
SH1001    蒋先跃                0  32.0  19938.98  22681.77  23934.18  22112.38
SH1002    LEE EUN HWA        0   0.0      0.00      0.00     69.93      0.00

                                                                 ...     \
months                       7         8         9         10    ...
Doctor_Id Doctor_Name                                            ...
SH00      简易门诊             0.00    884.40      0.00      0.00    ...
SH000     三伏贴              0.00      0.00      0.00      0.00    ...
SH0000    酸梅汤              0.00      0.00      0.00      0.00    ...
SH1001    蒋先跃          25901.26  34080.94  39641.52  35469.82    ...
SH1002    LEE EUN HWA      0.00      0.00    138.67      0.00    ...

                      Total_Sum                                         \
months                       2         3        4         5         6
Doctor_Id Doctor_Name
SH00      简易门诊              0.0      0.00      0.0      0.00      0.00
SH000     三伏贴               0.0      0.00      0.0      0.00      0.00
SH0000    酸梅汤               0.0      0.00      0.0      0.00      0.00
SH1001    蒋先跃           31191.3  38722.86  30026.1  28719.12  25327.23
SH1002    LEE EUN HWA   50300.0  65352.70  49955.8  64056.24  57918.50


months                       7         8         9         10        11
Doctor_Id Doctor_Name
SH00      简易门诊          1592.60   2845.84    801.90   2372.30     28.50
SH000     三伏贴           9975.00    140.00      0.00      0.00      0.00
SH0000    酸梅汤           2810.00    403.00     10.00      0.00      0.00
SH1001    蒋先跃          32574.86  44661.87  47853.85  44747.13  38153.42
SH1002    LEE EUN HWA  39823.40  38168.50  49806.97  38239.87  53424.82

[5 rows x 33 columns]